@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
}

.gmail {
    height: 30px;
    background-color: whitesmoke;
    font-weight: 600;
    font-size: 12px;
    padding: 5px;
    padding-left: 50px;
}

header {
    position: sticky;
    top: 0px;
    z-index: 5;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    height: 80px;
}

nav i {
    font-size: 20px;

}

.menu {
    padding-left: 50px;
    width: 25%;
}

.menu i {
    padding-left: 10px;
}

.logo img {
    width: 150px;
}

nav ul {
    display: flex;
    gap: 25px;
    color: black;
    align-items: center;
    list-style: none;
    justify-content: center;
    text-align: center;
    margin-right: 40px;
}

nav ul li:hover {
    color: red;
    cursor: pointer;
}

nav ul img {
    width: 80px;
}


.category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid whitesmoke;
    font-weight: 600;
}

.category ul {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.category li:hover {
    color: red;
    cursor: pointer;
}

.search input {
    border: none;
    padding: 5px;
    font-size: 15px;
    border-bottom: 2px solid;
    outline: none;
}

.search input {
    border: none;
    padding: 5px;
    font-size: 15px;
    border-bottom: 2px solid;
}

marquee {
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    height: 35px;
    border-bottom: 2px solid whitesmoke;
}

marquee:hover {
    color: red;
    cursor: pointer;
}

.banner {
    width: 100%;
}

.image1,
.image2 {
    width: 100%;
}

.small-poster {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.small-poster div {
    width: 410px;
    height: 280px;
    overflow: hidden;
    cursor: pointer;
}

.small-poster img {
    width: 100%;
    object-fit: cover;
}

.small-poster img:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
}

@media screen and (max-width:767px) {
    .none {
        display: none;
    }

    .image1 {
        display: none;
    }

    .logo {
        margin-left: 0px;
    }

    .category {
        display: none;
    }

    .small-poster div {
        width: 150px;
        height: 110px;
        overflow: hidden;
    }
}

@media screen and (min-width:767px) {
    .menu i {
        display: none;
    }

    .image2 {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .menu {
        display: none;
    }

    .logo {
        margin-left: 50px;
    }

    .small-poster div {
        width: 350px;
        height: 210px;
        overflow: hidden;
    }
}
